fastapi
uvicorn
python-jose[cryptography]
bcrypt
python-multipart
PyJWT
cryptography
pydantic
pydantic-settings
sqlalchemy
sqlite-utils
numpy
faiss-cpu
sentence-transformers
rank_bm25
flashrank
groq
langchain
langchain-community
langchain-text-splitters
pymupdf
ragas
mlflow
dagshub
locust
pytest
httpx
python-dotenv
pandas
datasets
